#footer {
    background-color: #1e2833;
    display: flex;
    width: 100vw;
}

.internal-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-club-logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.footer-club-name {
    font-size: 1.5rem;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

.i-links-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 0.5rem;
}

.i-link {
    text-align: center;
    /* font-family: "Bebas Neue", sans-serif; */
    text-decoration: none;
    font-size: 1rem;
}

