html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: #faf9f6;
  position: relative;
}

#__next::before {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  background: transparent url("../public/Group\ 1277.svg") no-repeat;
  background-position: -4rem top;
  background-size: 14rem 14rem;
}

#__next::after {
  content: "";
  width: 100%;
  height: 100vh;
  z-index: -1;
  transform: translateY(-100%);
  position: absolute;
  background: transparent url("../public/Group\ 12762.svg") no-repeat;
  background-position: right -5rem bottom -2rem;
  background-size: 16rem 16rem;
}

/* Scroll bar */

::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #C9D6EA;
  border-radius: 10px;
  transition: background-color 2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #77878B;
  border-radius: 10px;
}

/* Header and navbar  */

.ft-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #f3f3f3;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  height: calc(4rem + 0.5vw);
  width: calc(4rem + 0.5vw);
}

.ft-logo>img {
  width: calc(57px + 0.1vw);
  height: calc(48px + 0.1vw);
}


.mobile-header {
  display: inline-flex;
}

.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  line-height: 0;
  transition: 0.5s;
}

.nav-link {
  color: #fff !important;
  font-weight: 600;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  color: #dbb968 !important;
}

button.sign-in-btn {
  box-shadow: 0px 4px 4px rgba(102, 102, 102, 0.25);
}

/* Buttons and inputs */

button.btn {
  border-radius: 50px;
}

textarea:focus,
input:focus {
  outline: none;
  box-shadow: none;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}


input.newsletter {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #F1F1F1;
  border: 0;
}

input.newsletter::placeholder {
  text-align: center;
}

/* Typography */

.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
  color: #2B305E;
  line-height: 1;
}

.text-justify {
  text-align: justify;
}


/* Sections */

section {
  height: 100vh;
  min-height: 700px;
  max-height: fit-content;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Heights and Widths */

.h-15 {
  height: 15% !important;
}

.h-65 {
  height: 65% !important;
}

.h-80 {
  height: 80% !important;
}

.h-85 {
  height: 85% !important;
}

/* Margins and Paddings */

.pt-6 {
  padding-top: 5rem;
}

.pt-7 {
  padding-top: 7rem;
}

.pt-8 {
  padding-top: 9rem;
}

.pe-55 {
  padding-right: 3.5rem;
}

.pe-6 {
  padding-right: 5rem;
}

.pe-7 {
  padding-right: 7rem;
}

.pe-8 {
  padding-right: 9rem;
}

/* shadows and effect */

.ft-shadow-1 {
  box-shadow: 20px 4px 50px rgba(0, 0, 0, 0.25);
}


/* Responsive */

/* Responsive mobile */
@media only screen and (max-width: 600px) {
  /* 
  body {
    overflow-x: hidden;
  } */

  .container {
    max-width: none;
    --bs-gutter-x: 0 !important;
    overflow: hidden;
  }

  #__next::before {
    content: "";
    width: 50%;
    height: 100vh;
    position: absolute;
    background: transparent url("../public/Group\ 1277.svg") no-repeat;
    background-position: left -5rem top 0.5rem;
    background-size: 14rem 14rem;
  }

  #__next::after {
    content: "";
    width: 50%;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(0);
    background: transparent url("../public/Group\ 1286.svg") no-repeat;
    background-position: right -4.5rem top -0.5rem;
    background-size: 14rem 14rem;
  }

  /* html,
  body {
    background: #faf9f6 url("../public/Group\ 1277.svg");
    background-repeat: no-repeat;
    background-position-x: -2.5rem;
    background-position-y: 2.5rem;
    background-size: 8rem 8rem;
  } */
}

/* Responsive tablet */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .container {
    max-width: none;
    --bs-gutter-x: 0 !important;
    overflow: hidden;
  }

  #__next::before {
    content: "";
    width: 50%;
    height: 100vh;
    position: absolute;
    background: transparent url("../public/Group\ 1277.svg") no-repeat;
    background-position: left -5rem top 0.5rem;
    background-size: 14rem 14rem;
  }

  #__next::after {
    content: "";
    width: 50%;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(0);
    background: transparent url("../public/Group\ 1286.svg") no-repeat;
    background-position: right -4.5rem top -0.5rem;
    background-size: 14rem 14rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: none;
    --bs-gutter-x: 0 !important;
    overflow: hidden;
  }

  #__next::before {
    content: "";
    width: 50%;
    height: 100vh;
    position: absolute;
    background: transparent url("../public/Group\ 1277.svg") no-repeat;
    background-position: left -5rem top 0.5rem;
    background-size: 14rem 14rem;
  }

  #__next::after {
    content: "";
    width: 50%;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(0);
    background: transparent url("../public/Group\ 1286.svg") no-repeat;
    background-position: right -4.5rem top -0.5rem;
    background-size: 14rem 14rem;
  }
}

/* Responsive desktop */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  * {
    font-size: calc(0.85rem + 0.01vw)
  }
}


@media only screen and (min-width: 1200px) and (max-width: 1300px) {
  * {
    font-size: calc(0.9rem + 0.02vw)
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1400px) {
  * {
    font-size: calc(0.9rem + 0.02vw)
  }
}


@media only screen and (min-width: 1400px) and (max-width: 1800px) {

  section {
    height: 100vh;
    min-height: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .container {
    max-width: 1320px;
  }

  * {
    font-size: calc(0.95rem + 0.02vw)
  }
}


@media only screen and (min-width: 1800px) and (max-width: 2549px) {
  * {
    font-size: calc(1.1rem + 0.02vw)
  }

  .container {
    max-width: 1720px;
  }

  section {
    height: 1000px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

@media only screen and (min-width: 2560px) {
  * {
    font-size: calc(1.3rem + 0.02vw)
  }

  .container {
    max-width: 2480px;
  }

  section {
    height: 1440px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .ft-logo>img {
    width: calc(57px + 0.5vw);
    height: calc(48px + 0.5vw);
  }
}