#memorable-moments {
    display: flex;
    justify-content: center;
}

.page-title {
    width: 100%;
}

.moments-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 80%;
}

.moment-item {
    display: grid;
    grid-template-columns: 4fr 1fr 8fr 7fr;
    grid-template-rows: auto 1fr;
    row-gap: 1.25rem;
    column-gap: 1rem;
}

.moment-item-circle {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    align-self: center;
    justify-self: center;
    border-color: #77878B;
    border-width: 2px;
    border-style: solid;
    /* background-color: red; */
}

.moment-item-title {
    text-align: right;
    margin-bottom: 0;
    grid-row: 1 / span 2;
}

.moment-item-date {
    margin-bottom: 0;
    align-self: center;
    font-weight: bold;
    grid-column: 3 / span 2;
}

.moment-item-divider {
    height: 100%;
    width: 2px;
    background-color: #77878B;
    justify-self: center;
}

.moment-item-img {
    width: 100%;
    border-radius: 25px;
}

.moment-item-separation {
    display: none;
}

@media only screen and (max-width: 600px) {
    .page-title {
        width: 50%;
    }

    .moments-container {
        width: 100%;
    }

    .moment-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 12px;
    }

    .moment-item-circle,
    .moment-item-divider {
        display: none;
    }

    .moment-item-title {
        text-align: center;
    }

    .moment-item-description {
        text-align: center;
        margin-bottom: 0;
    }

    .moment-item-separation {
        display: block;
        height: 3px;
        background-color: #77878B;
        width: 50%;
        border-radius: 3px;
        align-self: center;
    }
}