/* Welcome Section */

.welcome-col-1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.welcome-col-1-mobile {
    position: relative;
}

.welcome-col-2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../public/Image\ Background\ 1.png") no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: -20px 4px 25px rgba(0, 0, 0, 0.25);
}

.welcome-col-2::before {
    content: "";
    border-top: solid 20px transparent;
    border-bottom: solid 20px transparent;
    border-left: solid 20px #C3C3C3;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.welcome-col-1::before {
    content: "";
    position: absolute;
    width: 12rem;
    aspect-ratio: 1;
    right: -4.3rem;
    bottom: 5%;
    background: transparent url("../public/Bear.png") no-repeat;
    background-size: 14rem;
}


/* Responsive Welcome */

/* Responsive mobile */
@media only screen and (max-width: 600px) {
    .welcome-1-bg {
        background: url("../public/BearMobile.png") no-repeat;
        background-position-x: 86%;
        background-position-y: 17.5rem;
        background-size: 6rem;
        height: 50%;
    }

    .mobile-slogan {
        margin-top: 10%;
        font-size: 2em;
        line-height: calc(3rem + 0.08vw);
    }

    .fs-input-mobile {
        font-size: 0.75rem;
    }

    .welcome-2-bg {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../public/Image\ Background\ 1.png") no-repeat;
        background-size: cover;
        height: 50%;
        display: flex;
        font-size: 0.9rem;
        justify-content: center;
        align-items: center;
        position: relative;
        line-height: 2rem;
        box-shadow: -20px -20px 25px rgba(0, 0, 0, 0.25);
    }

    .welcome-2-bg::before {
        content: "";
        border-right: solid 20px transparent;
        border-left: solid 20px transparent;
        border-top: solid 20px #C3C3C3;
        position: absolute;
        left: 50%;
        top: 2.8%;
        transform: translate(-50%, -50%);
    }
}

/* Responsive tablet */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .welcome-1-bg {
        background: url("../public/BearMobile.png") no-repeat;
        background-position-x: 86%;
        background-position-y: 17.5rem;
        background-size: 6rem;
        height: 50%;
    }

    .mobile-slogan {
        margin-top: 7%;
        font-size: 3em;
        line-height: calc(3rem + 0.08vw);
    }

    .fs-input-mobile {
        font-size: 0.75rem;
    }

    .welcome-2-bg {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../public/Image\ Background\ 1.png") no-repeat;
        background-size: cover;
        height: 50%;
        display: flex;
        font-size: 0.9rem;
        justify-content: center;
        align-items: center;
        position: relative;
        line-height: 2rem;
        box-shadow: -20px -20px 25px rgba(0, 0, 0, 0.25);
    }

    .welcome-2-bg::before {
        content: "";
        border-right: solid 20px transparent;
        border-left: solid 20px transparent;
        border-top: solid 20px #C3C3C3;
        position: absolute;
        left: 50%;
        top: 2.8%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .welcome-1-bg {
        background: url("../public/BearMobile.png") no-repeat;
        background-position-x: 86%;
        background-position-y: 17.5rem;
        background-size: 6rem;
        height: 50%;
    }

    .mobile-slogan {
        margin-top: 2%;
        font-size: 4em;
        line-height: calc(5rem + 0.08vw);
    }

    .fs-input-mobile {
        font-size: 0.75rem;
    }

    .fs-custom {
        font-size: 1rem;
    }

    .welcome-2-bg {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../public/Image\ Background\ 1.png") no-repeat;
        background-size: cover;
        height: 50%;
        display: flex;
        font-size: 0.9rem;
        justify-content: center;
        align-items: center;
        position: relative;
        line-height: 2rem;
        box-shadow: -20px -20px 25px rgba(0, 0, 0, 0.25);
    }

    .welcome-2-bg::before {
        content: "";
        border-right: solid 20px transparent;
        border-left: solid 20px transparent;
        border-top: solid 20px #C3C3C3;
        position: absolute;
        left: 50%;
        top: 2.8%;
        transform: translate(-50%, -50%);
    }
}

/* Responsive desktop */

@media only screen and (min-width: 992px) and (max-width: 1199px) {}


@media only screen and (min-width: 1200px) and (max-width: 1299px) {}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {}


@media only screen and (min-width: 1400px) and (max-width: 1599px) {}

@media only screen and (min-width: 2560px) {}